.double-center {
    position: absolute;

    margin: 0;
    top: 45%;
    left: 50%;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.vertical-center {
    position: absolute;
    
    margin: 0;
    top: 49%;
    
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.hidden {
    display: none;
}

.no-user-select {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}